---
import Guesser from "../components/Guesser.svelte";
import screenshot from "../screenshot.png";
---

<html>
  <head>
    <link rel="preload" as="image" href={screenshot.src} />
    <title>The Boston Train Quiz</title>

    {
      import.meta.env.PROD && (
        <script
          is:inline
          defer
          src="https://cloud.umami.is/script.js"
          data-website-id="3c0255b3-e006-4147-8fc3-5d87b9160e7b"
        />
      )
    }
  </head>
  <body>
    <Guesser client:load />

    <p
      class="fixed bottom-0 left-0 text-gray-400 transition-transform translate-y-3 hover:translate-y-0 hover:translate-x-2 cursor-default"
    >
      <a href="https://calebden.io" class="underline" target="_blank">Caleb</a> made
      this &middot; and it's on <a
        href="https://github.com/cjdenio/train-quiz"
        class="underline"
        target="_blank">GitHub</a
      >
    </p>

    <p class="fixed bottom-1 right-2 text-gray-400">
      Data provided by the <a
        href="https://www.mbta.com/developers/gtfs"
        class="underline"
        target="_blank">MBTA</a
      >
    </p>

    <script>
      import Honeybadger from "@honeybadger-io/js";
      Honeybadger.configure({
        apiKey: "hbp_kMocExYws1yKlIKXs0TkQzbAGmDpqJ2kz24F",
        environment: import.meta.env.MODE,
      });
    </script>
  </body>
</html>
